body{
    font-family: "Microsoft Yahei";
    min-width: 900px;
}
header{
    width: 100%;
    background-color: #39a9e6;
}
header .logo{
    margin: 10px 0 9px 50px;
    width: 36px;
    height: 36px;
}

header .header-right{
    float: right;
    position: relative;
    line-height: 55px;
    margin-right: 93px;
}

.header-right img{
    width: 17px;
    height: 17px;
    position: absolute;
    left: 17px;
    top: 22px;

}
header input{
    width: 278px;
    height: 26px;
    padding-left: 34px;
    border-radius: 12px;
    outline: none;
    margin-right: 22px;
}

header a{
    font-size: 12px;
    line-height: 55px;
    display: inline-block;
}

header a::before{
    content: url("../images/header-login.png");
    position: relative;
    right: 5px;
    top: 4px;
}


.left-fixed{
    float: left;
    height: 100%;
    background-color: #24305f;
}
.person-info{
    width: 259px;
    border-top: 1px solid #3592cd;
    border-right: 1px solid #4c567c;
    border-bottom: 1px solid #263362;
}
.person-top img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #b6bac8;
    float: left;
    padding: 4px;
    margin: 18px 18px 18px 45px;
}
.person-top h2{
    line-height: 93px;
    color: #f6f5f5;
    font-size: 16px;
}
.person-bottom{
    width: 259px;
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 0;
    margin-top: 7px;
    margin-bottom: 22px;
}
.person-bottom a{
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: #5d89ad;
}

.person-bottom a span{
    font-size: 16px;
}

.person-bottom a:first-child{
    margin-left: 63px;
    margin-right: 31px;
    position: relative;
}
.person-bottom a:first-child::after{
    content: "";
    width: 2px;
    height: 30px;
    position: absolute;
    display: block;
    right: -31px;
    top: 5px;
    cursor: default;
    background-color: #283665;
}

.person-bottom a:last-child{
    margin-left: 30px;
}


.person-list{
    width: 100%;
    line-height: 48px;
    background-color: #24305f;
}
.person-list p, .person-list i{
    color: #5d89ad;
    font-size: 12px;
    margin-left: 45px;
    display: inline-block;
    cursor: pointer;
}
.person-list i{
    position: relative;
    bottom: 2px;
    font-size: 14px;
}
.person-list p{
    margin-left: 14px;
}

.second-list{
    line-height: 32px;
}
.second-list p{
    margin-left: 4px;
}
.second-list i{
    font-size: 10px;
    margin-left: 7px;
}

.second-list i:first-child{
    margin-left: 70px;
}

.third-list{
    line-height: 28px;
}
.third-list i{
    margin-left: 102px !important;
}
.checked{
    color: #e9eef3 !important;
}
.second-list > i:first-child.checked{
    transform:rotate(90deg);
}
.person-statement{
    background-color: #2c3c6c;
}
.person-list:hover, .second-list:hover, .third-list:hover{
    background-color: #2c3c6c;
}
.person-list:hover > p, .person-list:hover > i, .second-list:hover > p,.second-list:hover > i, .third-list:hover > p,.third-list:hover > i {
    color: #e9eef3
}

.second-list:hover > i:first-child{
    transform:rotate(90deg);
}


.detail-body{
    margin-left: 260px;
    background-color: #eaefee;
}
.detail-head{
    background-color: #fff;
}
.detail-head span{
    color: #aaaaaa;
    font-size: 12px;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.detail-head span:first-child{
    margin-left: 30px;
}
.detail-head span::after{
    content: "/";
    color: #aaaaaa;
    margin-left: 6px;
    margin-right: 5px;
    cursor: default;
}
.detail-head span:last-child{
    color: #2189bf;;
}

.detail-main{
    margin: 0 auto;
    padding-top: 19px;
    width: 889px;
}

.detail-main-top{
    border: 1px solid #d9dfe5;
    height: 71px;
    padding-top: 15px;
    padding-left: 12px;
    margin-bottom: 8px;
    background-color: #fff;
}
.detail-main-top > div{
    display: inline-block;
}

.detail-main-top span{
    color: #aaaaaa;
    margin-right: 15px;
    font-size: 12px;
}
.detail-main-top>span:first-child{
    margin-left: 23px;
}
.detail-main-top select{
    width: 68px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    border: 1px solid #c2c3c4;
    border-radius: 0;
    padding: 4px 14px 4px 10px;
    background: url("../images/select-bg.png") no-repeat 95%;
    margin-bottom: 6px;
    font-size: 12px;
}
.top1{
    margin-right: 23px;
    vertical-align: top;
}
.top2{
    position: relative;
    margin-right: 46px;
}
.top2 > select, .top3 > select:last-of-type{
    width: 118px;
}
.top2 > img{
    position: absolute;
    right: -30px;
    top: 10px;
    cursor: pointer;
}
.top3 input[type="date"]{
    width: 126px;
    margin-right: 15px;
    border: 1px solid #c2c3c4;
}
.top3-third{
    margin-left: 25px;
}

.detail-main-top > button{
    width: 50px;
    height: 26px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin-left: 35px;
    vertical-align: top;
    margin-top: 16px;
    background-color: #388ac1;
    cursor: pointer;
    outline: none;
}

.detail-main-second{
    overflow: hidden;
}
.detail-main-second li{
    float: left;
    line-height: 62px;
    border-top: 1px solid #dddbdc;
    border-left: 1px solid #dddbdc;
    background-color: #fff;
    color: #323333;
    font-size: 12px;
    height: 62px;
    cursor: pointer;
    margin-right: 5px;
}
.detail-main-second li:first-child, .detail-main-second .list-final{
    padding: 0 10px;
    color: #ababab;
    vertical-align: top;
}
.detail-main-second li:last-child{
    margin: 0;
    width: 122px;

}
.detail-main-second li:last-child img{
    margin-left: 16px;
    margin-top: 16px;
}

.detail-main-second li:last-child span{
    margin-left: 5px;
    vertical-align: top;
}

.detail-main-second-list{
    width: 110px;
    height: 62px;
    line-height: 19px !important;
}
.detail-main-second-list:last-of-type{
    margin-right: 5px;
}
.detail-main-second-list p{
    padding-top: 10px;
    padding-left: 27px;
}
.snd-font-grey{
    margin-left: -4px;
    padding-top: 2px !important;
    color: #acacab;
}
.snd-font-grey span{
    color: #ec6500;
    font-size: 18px;
}
.detail-main-second-list-active, .detail-main-second-list:hover{
    height: 60px !important;
    border-top: 3px solid #4388c9 !important;
}
.detail-main-second-list-active p:nth-child(1), .detail-main-second-list:hover p:nth-child(1){
    padding-top: 8px;
}